<h2>Signup</h2>

<br><br>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input class="form-control" id="username" type="text" name="username" placeholder="Your Username" style="background-color: rgba(249, 246, 182, 0.2)">

  <br>

  <label for="password">Password</label>
  <input class="form-control" id="password" type="password" name="password" placeholder="Your password" style="background-color: rgba(249, 246, 182, 0.2)">
  

  <br>

  <label for="email">Email</label>
  <input class="form-control" id="email" type="text" name="email" placeholder="Your email" style="background-color: rgba(249, 246, 182, 0.2)">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>

  <button class="btn btn-primary btn-sm ">Create an account</button>
  <br><br>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/signup" style="color: #19975d;">Login</a>
  </p>
</form>