<h2>Upload your Plant</h2>

{{!-- Post form with enctype="multipart/form-data" (To send files) --}}
<form action="/add-plant" method="post" enctype="multipart/form-data">

  {{!-- This input to define a req.body.name --}}
  <label>Name</label>
  <input class="form-control" type="text" name="name">
  <br>

  {{!-- This input to define a req.body.description --}}
  <label>Description</label>
  <textarea class="form-control" name="description" rows="5" cols="20"></textarea>
  <br>

  {{!-- This input to define a req.body.waterFrequencyInDays --}}
  <label>Water frequency every (x) days</label>
  <input class="form-control" type="text" name="waterFrequencyInDays">
  <br>


  {{!-- This input to define a req.file, because of `uploadCloud.single("photo")` in routes/index.js  --}}

  <label>Photo</label>
  <input class="form-control" type="file" name="photo">
  <br>

  <input type="submit" value="SAVE" class="btn btn-primary">
</form>


