<h3>Edit your email</h3>
<br>

<form action="/edit-email/{{user._id}}" method="post">

  <label>Email</label>
  <input class="form-control" type="text" name="email" value="{{user.email}}">
  <br>
  <br>

  <input type="submit" value="Save" class="btn btn-primary">

  
</form>