<h3>Edit your email</h3>
<br>

<form action="/edit-email/{{user._id}}" method="post">

  <label>Email</label>
  <input class="form-control" type="text" name="email" style="background-color: rgba(249, 246, 182, 0.2)" value="{{user.email}}">
  <br>
  

  <input type="submit" value="Save" class="btn btn-primary">

  
</form>