<div class="container-home">
  <div class="jumbotron jumbotron-home">
    <div class="container">
      <h1 class="display-4" style="font-weight: bold; text-shadow: -3px 1px 6px rgba(92, 161, 101, 1)" >Feed your Plant</h1>
      <h5 class="lead" style="font-weight: bold; text-shadow: -3px 1px 6px rgba(92, 161, 101, 1); font-size:21px" >Watering Reminder | Share your knowlodge</h5>
      <hr class="my-4">
      {{!-- <p style="font-weight: bold">It uses utility classes for typography and spacing to space content out within the larger container.</p> --}}
      <a class="btn btn-primary btn-lg" href="#" role="button" >Learn more</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">1.</h4>
          <p class="card-text" >Choose your Plant.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">2.</h4>
          <p class="card-text" >Add to "My garden".</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">3.</h4>
          <p class="card-text">Receive the reminder.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">4.</h4>
          <p class="card-text">Feed your Plant.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">5.</h4>
          <p class="card-text">Happy Plant.</p>
        </div>
      </div>
    </div>
  </div>
</div>