<div class="container-home">
  <div class="jumbotron jumbotron-home" style="margin-bottom:17px">
    <div class="container">
      <h1 class="display-4" style="font-weight: bold; text-shadow: -3px 1px 6px rgba(92, 161, 101, 1)">Feed your Plant
      </h1>
      <h5 class="lead" style="font-weight: bold; text-shadow: -3px 1px 6px rgba(92, 161, 101, 1); font-size:22.5px">
        Watering Reminder | Create your garden</h5>
      <hr class="my-4">
      {{!-- <p style="font-weight: bold">It uses utility classes for typography and spacing to space content out within the larger container.</p> --}}
      <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
      <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
    </div>
  </div>
  <div class="container">
    <h3 class="card-text text-center" style="color: #0e7e4a;">How it works</h3>
  </div>
  <div class="container">
    <div class="card-deck" style="margin-top:-1px">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">1.</h4>
          <p class="card-text text-center">Choose from Plants tab or add your own Plant.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">2.</h4>
          <p class="card-text text-center">Register and add them all to "My garden".</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">3.</h4>
          <p class="card-text text-center">Receive the calendar in your email.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">4.</h4>
          <p class="card-text text-center">Feed your Plant.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix">
  </div>
  {{!-- <div class="container">

  <h3>How it works! </h3>

</div> --}}