<div class="container container-watering">


  <h2 style="color:#19975cb8;">Our project</h2>
  <br>

  <div>
    <p style="line-height:200%">Our passion for gardening and indoor plants, brought us here. We've agreed about the difficulty to remember the different watering needs that every specific plants have. We decided to create a simple interface that enables the user to create his own virtual garden in two different ways: by adding the sample plants provided inside our archive, with the possibility to customise their information, or by creating his own new plants. Starting from the creation date, all the plants are displayed and saved in the “garden” page. Their specific watering need, expressed in days, is saved and stored inside the “reminder”, a calendar that shows a watering plan of seven days. There is the possibility to receive the reminder by email.</p>
  </div>

   <br>
  <a href="/">
  <img src="../images/losango-plant2.png" width="100" height="100"  alt="">
  </a>


</div>