
{{#each plants}}

<div class="jumbotron jumbotron-plants" style="background-image: url({{picPath}})">
  <h1 class="display-4" style="color:white; text-shadow: -3px 1px 6px rgb(161, 161, 92)">{{name}}</h1>
  <div class="container-info-plant">


    <p style="padding: 10px"><strong>Water requirements:</strong> {{description}}</p>
    <p>Should feed {{waterFrquencyInDays}}X per month</p>
  </div>
    <div class="text-right">
      <a class="btn btn-success btn-sm " href="/profile" role="button">Add to my garden</a>
    </div>
</div>

{{/each}}