<div class="container container-watering">


  <h2 style="color:#19975cb8;">Watering hints</h2>
  <br>

  <div>
    <p>When it comes to watering, there are no hard or fast rules. It's a judgment call that depends on the type of plant, the soil, the weather, the time of year and many other variables. Fortunately, it's easy to figure out what to do: you just need to check the soil. For everything else, there’s <strong>Feed Your Plant 🌿</strong></p> 
    <p >
    <h5 style="margin-bottom: -5px; margin-top: 10px">1.</h5> Keep plants in pots with drainage holes at the bottom. <br>
    <h5 style="margin-bottom: -5px; margin-top: 10px">2.</h5>Water most plants every 2–4 days (or as required) in spring and summer. <br>
    <h5 style="margin-bottom: -5px; margin-top: 10px">3.</h5> Water desert cacti and succulents less frequently. <br>
    <h5 style="margin-bottom: -5px; margin-top: 10px">4.</h5> Reduce frequency of watering in winter. <br>
    <h5 style="margin-bottom: -5px; margin-top: 10px">5.</h5> Take care not to water too much; soggy, waterlogged compost causes disease and can be fatal, while a little drought is easily remedied.</p>
  </div>
  <br>

   
  <a href="/">
  <img src="../images/losango-plant2.png" width="100" height="100"  alt="">
  </a>


</div>