<h2 class="bg-watering">Watering hints</h2>

<div><p>When it comes to watering, there are no hard or fast rules. It's a judgment call that depends on the type of plant, the soil, the weather, the time of year and many other variables. Fortunately, it's easy to figure out what to do — even for a teenager on a hot summer day. You just need to check the soil.
If you're working in a nursery, you lift each pot before you water. Over time, you get to know how heavy a pot should feel if the soil inside the pot is thoroughly moistened. If it's not heavy enough, you water slowly until all the soil in the pot is moist and water runs out the bottom. Then you lift the pot again to check that it feels right.</p></div>