
* {
  border: 2px red solid;
}

@font-face {
  src: url(superclarendon.woff);
}
$primary: rgba(249, 246, 182, 0.9);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h1, h2, h3, h4 {
  font-family: superclarendon;
  font-weight: bold;
}

h4 {
  color: #19975d;
}

.navbar-light .navbar-nav .nav-link {
  color: #19975d;
}

.container-index{
  background-color: rgba(249, 246, 182, 0.9);
}



// .navbar-light .navbar-brand {
//   color: rgba(0, 0, 0, 0.9);
//   color: #19975d;
// }

.navbar-brand {
  line-height: 50px;
}

* {
  font-family: monospace;
}

// .navbar.a {
//   color: #19975d;
// }

body {
  padding: 0px;
  font-family: monospace;
  font-size: 16px;
}

.jumbotron-home {
  background-image: url("../images/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: white;
}

.container-home .card {
  border: none;
}

.jumbotron-plants {
  background-repeat: no-repeat;
  background-size: cover;
}

.container-info-plant {
  background-color: rgba(249, 246, 182, 0.8);
}