// * {
//   border: 2px red solid;
// }

@font-face {
  src: url(superclarendon.woff);
}
$primary: rgba(249, 246, 182, 0.9);
$success: #19975cc8;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h1,
h2,
h3,
h4 {
  font-family: superclarendon;
  font-weight: bold;
}

h4 {
  color: #19975d;
}





.navbar-light .navbar-nav .nav-link {
  color: #19975d;
}

.container-index {
  background-color: rgba(249, 246, 182, 0.9);
}


.container-home-inf{
  background-color: rgba(249, 246, 182, 0.9);

}


.navbar-brand {
  line-height: 50px;
}

* {
  font-family: monospace;
}

body {
  display:flex;
  padding: 0px;
  font-family: monospace;
  font-size: 16px;
  flex-direction: column;
}

.jumbotron-home {
  background-image: url("../images/intro_smaller.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 68vh;
  color: white;
}

.container-home .card {
  border: none;
  //margin: -10px;
}

.jumbotron-plants {
  background-repeat: no-repeat;
  background-size: cover;
}

.container-info-plant{
  background-color: #0e7e4aac;
  border-radius: 5px;
  max-width: 295px;
}

.container-info-plant2 {
  background-color: rgba(239, 237, 237, 0.8);
  border-radius: 5px;
}

.clearfix{
  clear:both;
}

.container.mt-4.container-grow.flex-grow-1{
   flex-grow:1;
   min-height:79vh;
   //border:3px solid purple;
}

nav, footer{
   flex-grow:0;
   //border: 3px solid yellow;
}

@media only screen and (max-width: 725px) {
  member {
    font-size: 16px;
  }
}
  
